<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.fhb.de/mdsd/Mobile" 
       class = "de.fhb.mdsd.mobile.MobilePackage"
       genModel = "de/fhb/mdsd/Mobile.genmodel" /> 
	
  </extension>




</plugin>
